.header{
    background: linear-gradient(70deg, #ff5151, #6969ff, #faff69);
}

.header__logo{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin: 0 10px;
}

img{
    max-width: 15%;
    max-height: 15%;
}

.header h2{
    font-size: 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    color: rgb(0, 0, 0);
}











